{{>layouts/header}}
<!--content-->

<div class="bg-dark text-white p-1 mt-3" align="center">
    <h1> Welcome! </h1>
    <div class="mr-5 mb-1" align="right">
        <p>
        <h6>Have a Good Day!</h6>
        </p>
    </div>
</div>

<div align="right" class="mr-5 mt-2">
    <form action="http://localhost:8080/login/">
        <button type="submit" class="btn btn-success">로그인</button>
    </form>
</div>

<div class="ml-4 mb-5">
    <form action="http://localhost:8080/allboard/">
        <button type="submit" class="btn btn-primary">
            <h1> &nbsp;Board&nbsp; </h1>
        </button>
    </form>
</div>

<div class="mt-5">
    <br>
</div>



<div class="mt-5 mb-5 ml-3">
    <h4>
        <a href="http://backcoder.tistory.com/">BackCoder Blog</a>
    </h4>
</div>

<div class="mt-5 mb-5 ml-3">
    <h4>
        <a href="https://github.com/Backcoder-June/">BackCoder Github</a>
    </h4>
</div>




<!--footer-->
{{>layouts/footer}}
